version: "3.9"

services:
  spring:
    image: ${DOCKER_IMAGE}
    container_name: spring
    depends_on:
      - redis
    env_file:
      - prod.env
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      FIREBASE_CREDENTIALS_PATH: file:/app/service.json
      APPLE_PRIVATE_KEY_PATH: file:/app/apple_authkey.p8
      JAVA_OPTS: "-Xms512m -Xmx768m -XX:+UseG1GC -XX:MaxGCPauseMillis=200"
    volumes:
      - ./service.json:/app/service.json:ro
      - ./apple_authkey.p8:/app/apple_authkey.p8:ro
    restart: always
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: '1.0'
        reservations:
          memory: 512M
          cpus: '0.5'
    networks:
      - backend

  redis:
    image: redis:7-alpine
    container_name: redis
    command: ["/bin/sh", "-c", "redis-server --appendonly yes --requirepass '$REDIS_PASSWORD' --maxmemory 200mb --maxmemory-policy allkeys-lru" ]
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    deploy:
      resources:
        limits:
          memory: 256M
          cpus: '0.5'
        reservations:
          memory: 128M
          cpus: '0.25'
    networks:
      - backend

networks:
  backend:

volumes:
  redis-data:
