version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    depends_on:
      - spring
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/www/certbot:/var/www/certbot:ro
    restart: always
    networks:
      - backend

  spring:
    image: ${DOCKER_IMAGE}
    container_name: spring
    depends_on:
      - redis
    env_file:
      - prod.env
    expose:
      - "8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      FIREBASE_CREDENTIALS_PATH: file:/app/service.json
      APPLE_PRIVATE_KEY_PATH: file:/app/apple_authkey.p8
    volumes:
      - ./service.json:/app/service.json:ro
      - ./apple_authkey.p8:/app/apple_authkey.p8:ro
    restart: always
    networks:
      - backend

  redis:
    image: redis:7-alpine
    container_name: redis
    command: ["/bin/sh", "-c", "redis-server --appendonly yes --requirepass '$REDIS_PASSWORD'" ]
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - backend

networks:
  backend:

volumes:
  redis-data:
