services:
  spring:
    image: ${DOCKER_IMAGE}
    container_name: spring
    depends_on:
      - redis
    env_file:
      - prod.env
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      FIREBASE_CREDENTIALS_PATH: file:/app/service.json
      APPLE_PRIVATE_KEY_PATH: file:/app/apple_authkey.p8
    volumes:
      - ./service.json:/app/service.json:ro
      - ./apple_authkey.p8:/app/apple_authkey.p8:ro
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 1G
        reservations:
          memory: 512M

  redis:
    image: redis:7-alpine
    container_name: redis
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD} --maxmemory 256mb --maxmemory-policy allkeys-lru
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    deploy:
      resources:
        limits:
          memory: 256M

volumes:
  redis-data: